html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    outline: none;
}

.grid {
    height: 800px;
    width: 800px;
}

.controls {
    padding: 16px;
}

.controls div {
    padding: 5px 0;
}

.controls input[type="number"] {
    width: 70px;
}